#setup-btn-onscreen {
    color: var(--primary-accent);
}

#setup-btn-onscreen:hover {
    background-color: var(--secondary-accent);
}

#setup-btn-onscreen:link {
    text-decoration: none;
}

#setup-btn-onscreen:visited {
    text-decoration: none;
}

#title-Page {
    padding-top: 12em;
    background-image: url("../assets/badBackground.png");
    background-size: 100% 100%;
    padding-bottom: 20em;
}

#title {
    margin-bottom: 10px;
}

#mission-statement {

}
